.gradient-gold {
  background: linear-gradient(90deg, #f8c471, #e49920, #f8c471);
  background-size: 200% 100%;
  background-position: left center;
  color: white;
  transition: background-position 0.5s ease-in-out, color 0.3s ease-in-out;
}

.gradient-gold:hover {
  background-position: right center;
  color: white;
}

.lnkLgn {
  text-align: center;
  margin-top: 15px;
  color: black;
}

.img2 {
  width: 300px;
  opacity: 1;
  z-index: -1;
  margin-top: -260px;
  margin-left: 100px;
}

.img1 {
  width: 300px;
  opacity: 1;
  z-index: -1;
  margin-top: -375px;
  margin-left: -330px;
  rotate: -90deg;
}

.img4 {
  width: 300px;
  opacity: 1;
  z-index: -1;
  margin-top: -240px;
  margin-left: 30px;
}

.img5 {
  width: 300px;
  opacity: 1;
  z-index: -1;
  margin-top: -85px;
  margin-left: -350px;
  rotate: -180deg;
}
