<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Kalau file/folder ada → load langsung
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Semua request lain lempar ke index.php
RewriteRule . /index.php [L]
</IfModule>
